{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="form-page">
  <h1>Создание Поста</h1>

  <form method="post" enctype="multipart/form-data" class="content-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="help-text">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Создать пост</button>
  </form>
</section>
{% endblock %}