{% extends 'base.html' %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %}
<form method="get">
    {% csrf_token %}
    <div class="profile">
        <div class="avatar-container">
        {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" alt="Аватар пользователя" class="avatar">
        {% else %}
            <p>Аватар отсутствует</p>
        {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ field.id_for_label }}">Имя: {{ profile.username }} </label>
            <label for="{{ field.id_for_label }}">Город: {{ profile.city }} </label>
            <label for="{{ field.id_for_label }}">Почта: {{ profile.email }} </label>
            <label for="{{ field.id_for_label }}">Телефон: {{ profile.phone }} </label>
        </div>

    </div>

</form>
{% endblock %}