{% extends 'base.html' %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %}
<form method="get">
    {% csrf_token %}
    <div class="avatar-container">
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Аватар пользователя" class="avatar">
        {% else %}
            <p>Аватар отсутствует</p>
        {% endif %}
    </div>
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="help-text">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
</form>
{% endblock %}